.comp-title{
    
   
    margin-bottom: 5px;
   
   
}

.comp-title h6{
    font-size: x-large;
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: goldenrod;
}
.comp-title h2{
    font-size: 40px;
    font-weight: 600;
}

.offer-banner-1{
    width: 100%;
    
    
    margin-left: 45px;
    max-width: 600px;
    align-items: left;
}
.offer-banner-1 img{
    max-height: fit-content;
    align-items: left !important;
}
.offer-banner-2{
    width: 100%;
    max-width: 600px;
    font-size: 20px;
    background-color: rgba(24, 18, 18, 0.959);
   
  
   
} 
.offer-banner-2 Button{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    outline: none;
    border-color: none;
    background-color: #4b3f3f9a;
    border-radius: 20px;
    border-color: rgba(24, 18, 18, 0.959);
   
}
@media (max-width: 575.98px) {
    .offer-banner-2 Button {
      font-size: 15px;
    }
  }

.container-right{
    margin-top: 60px;
    align-items:baseline;
    
}
#card-1{
    
    
}

#card-1 img{
    width: 100%;
    max-width: 300px;
    height: 370px;

}
#card-2 img{
    width: 100%;
    max-width: 300px;
    height: 370px;
   

}
.offer-table{
    border: none;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
}
.column-background{
    
    
}
.promotion-head:hover{
    margin-left: 10px;
    transition: 1s;
    cursor: pointer;
    

}
